# Install with :  


#Now that our Python requirements file is all set up, let's take a look at how to install packages from it. 
#To do this, we will use the pip package manager.

#The pip utility is used to install, upgrade, and uninstall Python packages. 
#It is also used to manage Python virtual environments and more.

#To start, open up a terminal or a command prompt and navigate to the directory of your Python project. 
#Once you are there, type the following command:

#----------------------------------------------------------------

# ------------ pip install -r requirements.in ------------------


#----------------------------------------------------------------


pymongo
python-dotenv
numpy 
matplotlib
scipy
pandas
tkinter
bson
shutil